body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle at center, white 5%, black 100%);
  font-family: "Segoe UI", sans-serif;
  
}

.wrapper {
  display: flex;
  align-items: center;
  gap: 30px;
}


#toggle {
  display: none;
}


.card {
  width: 320px;
  border-radius: 24px;
  overflow: hidden;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 40%,
      rgba(0, 0, 0, 0.85) 100%
    ),
    url("/yogi.jpg")
      center / cover no-repeat;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
}

.content {
  padding: 20px;
  margin-top: 220px;
  backdrop-filter: blur(4px);
}

.name {
  font-size: 22px;
  font-weight: 600;
  color: white;
}

.verified {
  font-size: 14px;
  background: #fff;
  color: #000;
  border-radius: 50%;
  padding: 2px 6px;
  margin-left: 6px;
}

.info {
  font-size: 14px;
  opacity: 0.85;
  margin: 8px 0;
  line-height: 1.5;
  color: white;
}

.desc {
  font-size: 13px;
  opacity: 0.8;
  margin-bottom: 16px;
  color : white;
}


.clickme {
  display: inline-block;
  background: #fff;
  color: #000;
  padding: 10px 18px;
  border-radius: 20px;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  transition: 0.3s;
}

.clickme:hover {
  background: #eaeaea;
}


.about {
  width: 300px;
  padding: 20px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(8px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  display: none;
  animation: slideIn 0.5s ease;
  color: black;
}

.about h2 {
  margin-top: 0;
  font-size: 20px;
}

.about p {
  font-size: 14px;
  line-height: 1.6;
  opacity: 0.9;
}


#toggle:checked ~ .about {
  display: block;
}


@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
